<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Story Books</title>
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/css/materialize/materialize.css">
</head>
<body>
  {{> _header}}
  <main>
    <div class="container">
      {{{body}}}
    </div>
  </main>

  <script src="/assets/js/jquery/jquery-3.3.1.slim.min.js"></script>
  <script src="/assets/js/materialise/materialize.min.js"></script>
  <script src="/assets/js/bootstrapjs/bootstrap.min.js"></script>
  
</body>
</html>